<template>
    <div class="container">

        <!--toast-->
        <toast ref="toast"></toast>
        <!-- data display -->
        <loading-panel message="Fetch items from server"
                       v-if="itemConfig.loading && !itemConfig.error">
        </loading-panel>
        <error-panel message="Failed fetch items from server"
                     v-if="!itemConfig.loading && itemConfig.error"
                     @on-error-handled="bindItems()">
        </error-panel>
        Keyword: {{keyword}}
        Category Name: {{categoryName}}
        <div class="row" v-if="!itemConfig.loading && !itemConfig.error">
            <div class="row">
                <div class="col-sm-4 col-md-3" v-for="item in items">
                    <div class="thumbnail" style="overflow: hidden">
                        <img src="../../assets/pictures/test.jpg" alt="../../assets/pictures/test.jpg">
                        <div class="caption">
                            <h4>{{item.itemName}}</h4>
                            <h4>Item Price</h4>
                            <h6>Seller Name</h6>
                            <h6>Category: {{item.category.categoryName}}</h6>
                            <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Add to wish list</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./item.component.js"></script>
--><!--<script src="../category/category.component.js"></script>