<template>
    <div class="wrapper">
        <nav class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <router-link to="/" class="navbar-brand">ECOMAS</router-link>
                </div>
                <!--<form class="navbar-form navbar-left" @submit.prevent="searchItems()">-->
                <form class="navbar-form navbar-left" @submit.prevent="search()">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" v-model="keyWord">
                        <!-- <input type="text" class="form-control" placeholder="Search" id="search-keyword" value=''> -->
                        <button type="submit" class="btn btn-sm btn-primary" aria-label="search" >
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
                <login-snippet class="col-md-2"></login-snippet>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <router-link to="/user">User</router-link>
                    </li>
                    <li>
                        <router-link to="/login">Login</router-link>
                    </li>
                    <li>
                        <router-link to="/item">Item</router-link>
                    </li>
                    <li>
                        <router-link to="/category">category</router-link>
                    </li>
                    <li>
                        <router-link to="/browse">browse</router-link>
                    </li>
                    <li>
                        <router-link to="/logout">log out</router-link>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <router-view></router-view>
        </main>
        <footer>
            <p class="text-center">Copyright &copy; 2017 | All Right Reserved</p>
        </footer>
    </div>
</template>

<script src="./app.component.js"></script>