<template>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ message }}</h1>
                    <p>{{ description }}</p>
                </div>
            </div>
        </div>

        <!--the shopping cart content-->
        <loading-panel message="Fetch your items from server"
                       v-if="itemConfig.loading && !itemConfig.error">
        </loading-panel>
        <error-panel message="Failed fetch your items from server"
                     v-if="!itemConfig.loading && itemConfig.error"
                     @on-error-handled="bindItems()">
        </error-panel>

        <div class="row" v-if="!itemConfig.loading && !itemConfig.error">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 5%;">#ID</th>
                            <th class="text-center" style="width: 20%;">ItemName</th>
                            <th class="text-center" style="width: 20%;">ItemCategory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in items">
                            <td class="text-center">{{ item.id }}</td>
                            <td class="text-center">
                                <span v-if="!item.onedit">{{ item.itemName}}</span>
                                <input type="text" class="form-control" v-model="item.itemName" v-if="item.onedit" placeholder="Item Name">
                            </td>
                            <td class="text-center">
                                <span v-if="!item.onedit">{{item.category.categoryName}}</span>
                                <input type="text" class="form-control" v-model="item.category.categoryName" v-if="item.onedit" placeholder="Item Category">
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-success" v-if="!item.onedit" @click="editItem(item)">Edit</button>
                                <button type="button" class="btn btn-sm btn-success" v-if="item.onedit"
                                        :disabled="item.name == '' || item.category.categoryName == ''"
                                        @click="updateItem(item)">Save</button>
                                <button type="button" class="btn btn-sm btn-danger" @click="deleteItem(item)">Del</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script src="./wishlist.component.js"></script>
<script src="../item/item.component.js"></script>