<template>
    <div class="container">
    <!--banner-->
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>{{ message }}</h1>
                            <p>{{ description }}</p>
                            <p>keyword: {{ browsingState.keyword }}</p>
                            <p>category: {{ browsingState.categoryName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--category-->
        <div class="row">
            <category class="col-sm-4 col-md-3"></category>
            <item  class="col-sm-8 col-md-9" :keyword="browsingState.keyword" :category-name ="browsingState.categoryName"></item>
        </div>
    </div>
</template>

<script src="./itemBrowsing.component.js"></script>