<template>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h3>thread title</h3>
                </div>
            </div>
        </div>
        <!--sender profile picture-->

        <div class="panel panel-default">
            <div class="panel-heading">sender name - time</div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <!--<img src="../../assets/pictures/test.jpg" alt="../../assets/pictures/test.jpg">-->
                    <div class="caption">
                        <h5>Sender name</h5>
                        <p>sender role?</p>
                    </div>
                </div>
            </div>
            <div class="panel-body col-sm-8 col-md-9">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>
        </div>
    </div>
</template>

<script src="./thread.component.js"></script>
