<template>
    <div class="container">

        <!--toast-->
        <toast ref="toast"></toast>
        <!-- data display -->
        <loading-panel message="Fetch category from server"
                       v-if="categoryConfig.loading && !categoryConfig.error">
        </loading-panel>
        <error-panel message="Failed fetch items from server"
                     v-if="!categoryConfig.loading && categoryConfig.error"
                     @on-error-handled="bindCategory()">
        </error-panel>
        <div class="row" v-if="!categoryConfig.loading && !categoryConfig.error">
        <!--<div class="row col-sm-4 col-md-3" v-if="!categoryConfig.loading && !categoryConfig.error">-->
            <div class="list-group"  v-for="category in categories">
                <button type="button" class="list-group-item" @click="selectCategory(category)">{{category.categoryName}}</button>
            </div>
        </div>
    </div>
</template>

<script src="./category.component.js"></script>