<template>
    <div class="container">
        <toast ref="toast"></toast>
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>{{ message }}</h1>
                            <p>{{ description }}</p>
                        </div>
                        <div class="col-md-4 col-md-push-2">
                            <p class="text-center">
                                <strong>Create New Category</strong>
                            </p>
                            <form role="form" @submit.prevent="storeCategory()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Category Name" required v-model="category.categoryName">
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Create Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <loading-panel message="Fetch your categories from server"
                       v-if="categoryConfig.loading && !categoryConfig.error">
        </loading-panel>
        <error-panel message="Failed fetch your categories from server"
                     v-if="!categoryConfig.loading && categoryConfig.error"
                     @on-error-handled="bindCategories()">
        </error-panel>
        <div class="row" v-if="!categoryConfig.loading && !categoryConfig.error">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 5%;">#ID</th>
                            <th class="text-center" style="width: 20%;">CategoryName</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="category in categories">
                            <td class="text-center">{{ category.id }}</td>
                            <td class="text-center">
                                <span v-if="!category.onedit">{{ category.categoryName}}</span>
                                <input type="text" class="form-control" v-model="category.categoryName" v-if="category.onedit" placeholder="Category Name">
                            </td>
                            <!---->
                                <button type="button" class="btn btn-sm btn-success" v-if="!category.onedit" @click="editCategory(category)">Edit</button>
                                <button type="button" class="btn btn-sm btn-success" v-if="category.onedit"
                                        :disabled="category.name == ''"
                                        @click="updateCategory(category)">Save</button>
                                <button type="button" class="btn btn-sm btn-danger" @click="deleteCategory(category)">Del</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./categoryManager.js"></script>
